In [0]:
%sql
with recursive numbers as
(
  select 1 as num
  union all
  select num+1 from numbers
  where num<10
)
select * from numbers

In [0]:
%sql
-- Create the table
CREATE TABLE employee_hierarchy (
    emp_id INT PRIMARY KEY,
    emp_name VARCHAR(50),
    manager_id INT,
    department VARCHAR(50)
);

-- Insert hierarchical data
INSERT INTO employee_hierarchy (emp_id, emp_name, manager_id, department) VALUES
(1, 'John (CEO)', NULL, 'Executive'),        -- Top Level
(2, 'Alice (VP)', 1, 'Sales'),               -- Reports to John
(3, 'Bob (VP)', 1, 'Engineering'),           -- Reports to John
(4, 'Charlie (Manager)', 2, 'Sales'),        -- Reports to Alice
(5, 'David (Manager)', 3, 'Engineering'),    -- Reports to Bob
(6, 'Eve (Lead)', 5, 'Engineering'),         -- Reports to David
(7, 'Frank (Associate)', 6, 'Engineering'),  -- Reports to Eve
(8, 'Grace (Associate)', 6, 'Engineering');  -- Reports to Eve

In [0]:
%sql
select * from employee_hierarchy